.app__logo {
  width: 10%;
  height: auto;
}

.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rbga(255, 255, 255, 0.25);
}